# Игнорирование временных файлов и папок Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Игнорирование выходных данных сборки
bin/
obj/
Debug/
Release/

# Игнорирование файлов NuGet
packages/
*.nuget.props
*.nuget.targets

# Игнорирование файлов ReSharper
_ReSharper.*/
*.ReSharper

# Игнорирование временных файлов
*.tmp
*.log
*.bak
*.cache

# Игнорирование файлов тестирования
TestResults/
